/private
/TEX
Server/AIWolf-ver0.5.6/*
debug
__pycache__
little
jinro_natural
RFestimator
read_log
.ipynb_checkpoints
*.pyc
activate.sh
logs
click.workflow
dev/agent
dev/AIWolfPy/csv
dev/AIWolfPy/csv_old
dev/AIWolfPy/data
*.pkl
find . -size +100M | sed -e 's/^\.\///' >> .gitignore
.DS_Store
dev/.DS_Store
dev/AIWolfPy/aiwolfpy/submit
dev/AIWolfPy/defragTrees
